$primary-color: #9d7afe;
$ascent-color: #c5fcee;
$light-color: #f5f5f5;
$dark-main-color: #100c19;
$dark-secondary-color: #201c29;
$dark-light-color: #312d3a;

$fs-xl: 40px;
$fs-l: 25px;
$fs-r: 17px;
$fs-sm: 14px;

$fw-bolder : 900;
$fw-bold : 600;
$fw-normal : 400;
$fw-light : 300;
